@model List<Customer>

<div class="home_index">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Customer List</h1>
            <hr />
            <form method="get">
                <div class="mb-3 col-lg-4 d-flex search_product">
                    <input type="text" class="form-control col-3" name="search" placeholder="Search" value="@ViewBag.SearchValue">
                    <button type="submit" class="btn btn-primary col-2">Search</button>
                </div>
            </form>
            <a class="btn btn-primary col-2 mb-2" asp-action="create" asp-controller="customer"> Add New Customer </a>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-primary" scope="col">Full Name</th>
                        <th class="text-primary" scope="col">Email</th>
                        <th class="text-primary" scope="col">Total Cost</th>
                        <th class="text-primary" scope="col">Phone Number</th>                      
                        <th class="text-primary" scope="col">Address</th>
                        <th class="text-primary" scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Customer customer in Model)
                    {
                        <tr>
                            <td>@(customer.FullName == null ? "empty" : customer.FullName)</td>
                            <td>@(customer.Email == null ? "empty" : customer.Email)</td>
                            <td>@(customer.TotalCost == null ? "empty" : customer.TotalCost)</td>
                            <td>@(customer.PhoneNumber == null ? "empty" : customer.PhoneNumber)</td>
                            <td>@(customer.Address == null ? "empty" : customer.Address)</td>
                            <td><a asp-action="details" asp-route-id="@customer.Id"><i class="fa-sharp fa-solid fa-circle-info"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>