@model List<Customer>

<div class="home_index">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Customer List</h1>
            <form method="get">
                <div class="mb-3 col-lg-4 d-flex search_product">
                    <input type="text" class="form-control col-3" name="search" placeholder="Search" value="@ViewBag.SearchValue">
                    <button type="submit" class="btn btn-primary col-2">Search</button>
                </div>
            </form>
            <a class="btn btn-primary col-2 mb-2" asp-action="create" asp-controller="customer"> Add New Customer </a>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">City</th>
                        <th scope="col">Address</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Customer customer in Model)
                    {
                        <tr>
                            <td>@customer.FullName</td>
                            <td>@customer.Email</td>
                            <td>@customer.TotalCost</td>
                            <td>@customer.PhoneNumber</td>
                            <td>@customer.City</td>
                            <td>@customer.Address</td>
                            <td><a asp-action="details" asp-route-id="@customer.Id"><i class='bx bx-info-circle'></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>