@model HomeVM

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Series</th>
            <th scope="col">Category</th>
            <th scope="col">Add to Sale</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Brand.BrandName</td>
                <td>@item.Name</td>
                <td>@item.Color.ColorName</td>
                <td>@item.Price</td>
                <td>@item.Series</td>
                <td>@item.ProductCategory.Name</td>
                <td><a class="btn btn-warning">Add</a> </td>
            </tr>
        }
       
    </tbody>
</table>