@model HomeVM

<div class="home_index">
    <table>
        <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Category</th>
            <th>Series</th>
            <th>Add Order</th>

        </tr>
        @foreach (Product product in Model.Products)
        {
            <tr>
                <td>@product.Brand.BrandName</td>
                <td>@product.Name</td>
                <td>@product.Color.ColorName</td>
                <td>@product.Price $</td>
                <td>@product.ProductCategory.Name</td>
                <td>@product.Series</td>
                <td><a data-id="@product.Id" class="order"><i class='bx bx-basket'></i></a></td>
            </tr>
        }
    </table>
</div>
