@model List<Money>

<div class="container">
    <div class="row">
        <h1 class="text-center">Box Office</h1>
        <hr />
        <form method="get">
            <div class="mb-3 col-lg-8 d-flex search_product">
                <div class="d-flex align-items-center">
                    <div>
                        <span class="mr-2"> From :</span>
                    </div>
                    <div>
                        <input type="date" class="form-control fromDate" name="fromDate" value="@(ViewBag.fromDate != null ? ViewBag.fromDate.Date.ToString("yyyy-MM-dd") : "" )" />
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <span class="mr-2">To :</span>
                    </div>
                    <div>
                        <input type="date" class="form-control toDate" name="toDate" value="@(ViewBag.toDate != null ? ViewBag.toDate.Date.ToString("yyyy-MM-dd") : "" )" />
                        <span class="text-danger">@(ViewBag.Error != null ? ViewBag.Error : "")</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-lg-2">Sort</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-primary">Date <i class="fa-regular fa-calendar"></i></th>
                    <th scope="col" class="text-primary">Cashless Payment <i class="fa-regular fa-credit-card"></i></th>
                    <th scope="col" class="text-primary">Discount <i class="fa-solid fa-percent"></i></th>
                    <th scope="col" class="text-primary">Incoming <i class="fa-solid fa-plus"></i></th>
                    <th scope="col" class="text-primary">Info</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Money item in Model)
                {
                    <tr>
                        <td>@item.CreateDate.ToLocalTime().ToString("dd MMMM yyyy , hh:mm:ss")</td>
                        <td class="@(item.CashlessPayment < 0 ? "text-danger" : "")">@item.CashlessPayment <i class="fa-solid fa-manat-sign"></i></td>
                        <td class="@(item.Discount < 0 ? "text-danger" : "")">@item.Discount <i class="fa-solid fa-manat-sign"></i></td>
                        <td class="@(item.Incoming < 0 ? "text-danger" : "")">@item.Incoming <i class="fa-solid fa-manat-sign"></i></td>
                        <td>
                            @if (item.Sale != null)
                            {
                                <a asp-action="details" asp-controller="sale" asp-route-id="@item.Sale.Id"><i class="fa-sharp fa-solid fa-circle-info"></i></a>
                            }
                            else if (item.Refund != null)
                            {
                                <a asp-action="details" asp-controller="refund" asp-route-id="@item.Refund.Id"><i class="fa-sharp fa-solid fa-circle-info"></i></a>

                            }                         
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>TOTAL</td>
                    <td class="@((Model.Sum(s => s.CashlessPayment))<0?"text-danger":"")">@(Model.Sum(s => s.CashlessPayment)) <i class="fa-solid fa-manat-sign"></i></td>
                    <td class="@((Model.Sum(s => s.Discount))<0?"text-danger":"")">@(Model.Sum(s => s.Discount)) <i class="fa-solid fa-manat-sign"></i></td>
                    <td class="@((Model.Sum(s => s.Incoming))<0?"text-danger":"")">@(Model.Sum(s => s.Incoming)) <i class="fa-solid fa-manat-sign"></i></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>