@model List<Product>

<div class="container">
    <div class="row">
        @if (TempData["Create"] != null)
        {
            <div style="transition:all 0.5s ease" id="alert_refund" class="alert alert-warning" role="alert">
                Product Elave Olundu !
            </div>
        }
        <h1>Products List</h1>
        <hr />
        <div class="col-lg-3"><a asp-action="create" class="btn btn-primary"> Add Product</a></div>
        <form method="get">
            <div class="mb-3 col-lg-4 d-flex search_product">
                <input type="text" class="form-control" name="search" placeholder="Search" value="@ViewBag.SearchValue">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="text-primary" scope="col">Brand</th>
                    <th class="text-primary" scope="col">Name</th>
                    <th class="text-primary" scope="col">Color</th>
                    <th class="text-primary" scope="col">Price</th>
                    <th class="text-primary" scope="col">Category</th>
                    <th class="text-primary" scope="col">Series</th>
                    <th class="text-primary" scope="col">Is Sold</th>
                    <th class="text-primary" scope="col">Settings</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <td>@product.Brand.BrandName</td>
                        <td>@product.ProductModel.ModelName</td>
                        <td>@product.Color.ColorName</td>
                        <td>@product.ProductModel.ModelPrice <i class="fa-solid fa-manat-sign"></i></td>
                        <td>@product.ProductCategory.Name</td>
                        <td>@product.Series</td>
                        <td class="@(product.IsSold == true ? "text-danger": "text-success")" >@product.IsSold</td>
                        <td>
                            <a class="text-warning" style="margin-right:10px;" asp-action="edit" asp-route-id="@product.Id"><i style="font-size:25px;" class="fa-regular fa-pen-to-square"></i></a>
                            <a class="text-danger" style="cursor:pointer;" ><i style="font-size:25px;" class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>