@model Refund

<div class="container">
    <div class="row">
        <h1>Refund Details <i class="fa-solid fa-circle-info"></i></h1>
        <hr />
        <div style="display:none; transition:all 0.3s ease" id="alert_refund" class="alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div>
        <ul class="sale_details_list">
            <li>Customer : @Model.Customer.FullName</li>
            <li>Return Date : @Model.CreateDate.ToLocalTime().ToString("dd MMMM yyyy , hh:mm")</li>
            <li> Total Payed : @Model.TotalPrice <i class="fa-solid fa-manat-sign"></i></li>
            <li> Cashless Paymant : @Model.CashlessPayment <i class="fa-solid fa-manat-sign"></i></li>
            <li> Discount : @Model.Discount <i class="fa-solid fa-manat-sign"></i></li>
            <li>Seller Name : @Model.Employee.FullName</li>
            <li>Qaytarma sebebi : @Model.Description</li>
        </ul>
        <h3>Product</h3>
        <table class="table">
            <tr>
                <th class="text-primary"> Brand </th>
                <th class="text-primary"> Name </th>
                <th class="text-primary"> Price </th>
                <th class="text-primary"> Color </th>
                <th class="text-primary"> Memory </th>
                <th class="text-primary"> Category </th>
                <th class="text-primary"> Series </th>
                
            </tr>
            <tr>
                <td>@Model.Product.Brand.BrandName </td>
                <td>@Model.Product.ProductModel.ModelName </td>
                <td>@Model.Product.ProductModel.ModelPrice </td>
                <td>@Model.Product.Color.ColorName </td>
                <td>@Model.Product.Memory.MemoryCapacity</td>
                <td>@Model.Product.ProductCategory.Name </td>
                <td>@Model.Product.Series</td>
            </tr>
        </table>

    </div>
</div>