@model RefundHomeVM


<div class="home_index">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Refund List</h1>
            <hr />
            <form method="get">
                <div class="mb-3 col-lg-5 d-flex search_product">                 
                    <div class="col-lg-4">
                        <input type="date" class="form-control" name="fromDate" value="@(ViewBag.fromDate != null ? ViewBag.fromDate.Date.ToString("yyyy-MM-dd") : "" )" />
                    </div>
                    <div class="col-lg-4">
                        <input type="date" class="form-control" name="toDate" value="@(ViewBag.toDate != null ? ViewBag.toDate.Date.ToString("yyyy-MM-dd") : "" )" />
                        <span class="text-danger">@(ViewBag.Error != null ? ViewBag.Error : "")</span>
                    </div>
                    <button type="submit" class="btn btn-primary col-lg-2">Search</button>
                </div>
            </form>
            @if (Model.Refunds.Count>0)
            {
                <h3>Confirmed Refunds</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Cashless Payment</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Seller Name</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Refund item in Model.Refunds)
                        {
                            <tr>
                                <td>@item.CreateDate.ToString("dd MMMM yyyy, hh:mm:ss")</td>
                                <td>@item.Customer?.FullName</td>
                                <td>@item.Discount <i class="fa-solid fa-manat-sign"></i></td>
                                <td>@item.CashlessPayment <i class="fa-solid fa-manat-sign"></i></td>
                                <td>@item.TotalPrice <i class="fa-solid fa-manat-sign"></i></td>
                                <td>@item.Employee?.FullName</td>
                                <td><a asp-action="details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="row">
            
            @if (Model.RefundOrders.Count == 0)
            {
                <p class="text-center">Bütün qeri qaytarışlar təsdiq olunub !</p>
            }
            else
            {
                <h3>Unconfirmed Refunds</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Brand</th>
                            <th scope="col">Product Model</th>
                            <th scope="col">Price</th>
                            <th scope="col">Color</th>
                            <th scope="col">Category</th>
                            <th scope="col">Series</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Customer</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (RefundOrder item in Model.RefundOrders)
                        {
                            <tr>
                                <td>@item.Brand</td>
                                <td>@item.Name</td>
                                <td>@item.Price <i class="fa-solid fa-manat-sign"></i></td>
                                <td>@item.Color</td>
                                <td>@item.Category</td>
                                <td>@item.Series</td>
                                <td>@item.EmployeeName</td>
                                <td>@item.Customer.FullName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }          
        </div>
    </div>
</div>
