@model SettingVM

<div class="container">
    <div class="row">
        <h1 class="text-primary">Settings <i class="fa-solid fa-wrench"></i></h1>
        <hr />       
        <ul class="setting_options">
            <li><a class="text-primary" asp-action="index" asp-controller="brand">Brands (@Model.BrandCount)  <i class="fa-regular fa-star"></i> </a></li>
            <li><a class="text-primary" asp-action="index" asp-controller="colors">Colors (@Model.ColorsCount) <i class="fa-solid fa-palette"></i></a></li>
            <li><a class="text-primary" asp-action="index" asp-controller="employee">Employees (@Model.EmployeeCount) <i class="fa-solid fa-person-digging"></i></a></li>
            <li><a class="text-primary" asp-action="index" asp-controller="employeeposition">Employee Positions (@Model.EmployeePositionCount) <i class="fa-solid fa-user-astronaut"></i></a></li>
            <li><a class="text-primary" asp-action="index" asp-controller="productcategory">Products Category (@Model.ProductsCategoryCount) <i class="fa-solid fa-layer-group"></i></a></li>
            <li><a class="text-primary" asp-action="index" asp-controller="productmodel">Products Model (@Model.ProductModelCount) <i class="fa-regular fa-square-plus"></i></a></li>
        </ul>
    </div>
</div>