@model SaleDetailsVM

<div class="container">
    <div class="row">
        <h1 class="text-success">Sale Details <i class="fa-solid fa-circle-info"></i></h1>
        <div style="display:none; transition:all 0.3s ease" id="alert_refund" class="alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div>
        <ul class="sale_details_list">
            <li>Customer : @Model.Sale.Customer.FullName</li>
            <li>Sale Date : @Model.Sale.CreateDate.ToString("dd MMMM yyyy,hh:mm")</li>
            <li> Total Payed : @Model.Sale.TotalPrice <i class="fa-solid fa-manat-sign"></i></li>
            <li> Cashless Paymant : @Model.Sale.CashlessPayment <i class="fa-solid fa-manat-sign"></i></li>
            <li> Discount : @Model.Sale.Discount <i class="fa-solid fa-manat-sign"></i></li>
            <li>Seller Name : @Model.Sale.Employee.FullName</li>
        </ul>
        <h3>Products List</h3>
        <table class="table">

            <tr>
                <th> Brand </th>
                <th> Name </th>
                <th> Price </th>
                <th> Color </th>
                <th> Category </th>
                <th> Series </th>
                <th> Click For Return</th>
            </tr>
            @foreach (var item in Model.Sale.SaleProducts)
            {

                <tr>
                    <td>@item.Product.Brand.BrandName </td>
                    <td>@item.Product.ProductModel.ModelName </td>
                    <td>@item.Product.ProductModel.ModelPrice </td>
                    <td>@item.Product.Color.ColorName </td>
                    <td>@item.Product.ProductCategory.Name </td>
                    <td>@item.Product.Series</td>
                    <td>
                        <a class="returnBtn" data-id="@item.ProductId" data-customer="@item.Sale.CustomerId" data-employee="@Model.Sale.EmployeeId" data-saleId="@Model.Sale.Id">
                            <i class="fa-solid fa-rotate-left icon-return"></i>
                        </a>
                     @*   @if(Model.RefundOrders.Any(p=>p.ProdId == item.ProductId)){
                           <a class="returnBtn" data-id="@item.ProductId" data-customer="@item.Sale.CustomerId" data-employee="@Model.Sale.EmployeeId" data-saleId="@Model.Sale.Id">
                            <span class="text-warning"> Alredy Send to Return</span>
                        </a> 
                        }
                        else { <a class="returnBtn" data-id="@item.ProductId" data-customer="@item.Sale.CustomerId" data-employee="@Model.Sale.EmployeeId" data-saleId="@Model.Sale.Id">
                            <i class="fa-solid fa-rotate-left icon-return"></i>
                        </a> }*@
                        
                    </td>
                </tr>
            }
        </table>
        @if (Model.Sale.Refunds.Count > 0)
        {
            <h3 class="text-warning">Mehsullarin geri qaytarilmasi baresinde melumat :</h3>
            <ul>
                @foreach (Refund item in Model.Sale.Refunds)
                {
                    <li> Date: @item.CreateDate , Product : @item.Product.ProductModel.ModelName , Series : @item.Product.Series </li>
                }
            </ul>
            


        }
    </div>
</div>