@model List<Sale>


<div class="home_index">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Sales List</h1>
            <form method="get">
                <div class="mb-3 col-lg-8 d-flex search_product">                 
                    <div >
                        <input type="text" class="form-control" name="search" placeholder="Search" value="@ViewBag.SearchValue">
                    </div>
                    <div>
                        <input type="date" class="form-control" name="fromDate" value="@ViewBag.FromData" />
                    </div>
                    <div>
                        <input type="date" class="form-control" name="toDate" value="@ViewBag.ToDate" />
                        <span class="text-danger">@(ViewBag.Error != null ? ViewBag.Error:"")</span>
                    </div>
                    <button type="submit" class="btn btn-primary col-lg-2">Search</button>
                </div>       
            </form>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Cashless Payment</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Products Count</th>
                        <th scope="col">Seller Name</th>
                        <th scope="col">Branch</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Sale sale in Model)
                    {
                        <tr>    
                            <td>@sale.CreateDate.ToString("dd MMMM yyyy, hh:mm:ss")</td>
                            <td>@sale.Customer?.FullName</td>
                            <td>@sale.Discount $</td>
                            <td>@sale.CashlessPayment $</td>
                            <td>@sale.TotalPrice $</td>                                             
                            <td>@sale.Products?.Count eded</td>
                            <td>@sale.Employee?.FullName</td>
                            <td>@sale.Branch.Name</td>                      
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
