@model AccountEditVM

<div class="container">
    <div class="row">
        <h1>User Role Update Form</h1>
        <hr />
         @if (TempData["Edit"] != null)
        {
            <div style="transition:all 0.5s ease" id="alert_refund" class="alert alert-warning" role="alert">
                Yenilenme qeyde alindi !
            </div>
        }
        @if (TempData["Create"] != null)
        {
            <div style="transition:all 0.5s ease" id="alert_refund" class="alert alert-warning" role="alert">
                User elave edildi !
            </div>
        }
        <table class="table">
            <tr>
                <th class="text-primary">User Name</th>
                <th class="text-primary">User Branch</th>
                <th class="text-primary">User Roles</th>             
            </tr>
            <tr>
                <td>@Model.User.UserName</td>
                <td>@Model.Branch.Name</td>
                <td>

                    <form method="post">
                        @foreach (var role in Model.Roles)
                        {
                            if (Model.UserRoles.Any(r => r == role.Name))
                            {
                                <div class="col-9 row">
                                    <div class="col-6">
                                        <span>@role</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="checkbox" checked value="@role" name="role" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-9 row">
                                    <div class="col-6">
                                        <span>@role</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="checkbox" value="@role" name="role"/>
                                    </div>
                                </div>
                            }
                        }
                        <button class="my-btn mt-3">Change Role</button>
                    </form>

                </td>               
            </tr>
        </table>
    </div>
</div>