@model MessageVM

<input id="sender_id" type="hidden" value="@Model.User.Id" />
<ul class="m-b-0 chat_list">
    @foreach (var item in Model.Messages)
    {
        <li class="clearfix">
            <div class="message-data @(item.SenderId != Model.User.Id ? "":"text-end")">
                <span class="message-data-time">@item.CreateDate.ToString("dd MMMM yyyy , hh:mm")</span>
            </div>
            <div class="@(item.SenderId != Model.User.Id ? "message my-message":"message other-message float-right")"> @item.Content </div>
        </li>
    }
</ul>

