@model DisplacementDetailsVM
@{
    byte count = 1;
}
<div class="container">
    <div class="row">
        <h1>Displacement Details</h1>
        <hr />
        <ul>
            <li>Send Date : @Model.Displacement.CreateDate.ToString("dd MMMM yyyy hh:mm")</li>
            <li>Sender : @Model.Displacement.SenderBranch</li>
            <li>Destination : @Model.Displacement.DestinationBranch</li>
        </ul>
        <table class="table">
            <tbody>
                <tr>
                    <th class="text-primary">Count</th>
                    <th class="text-primary">Brand</th>
                    <th class="text-primary">Model</th>
                    <th class="text-primary">Color</th>
                    <th class="text-primary">Category</th> 
                    <th class="text-primary">Series</th>
                </tr>
                @foreach (var item in Model.Displacement.DisplacementProducts)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Product.Brand.BrandName</td>
                        <td>@item.Product.ProductModel.ModelName</td>
                        <td>@item.Product.Color.ColorName</td>
                        <td>@item.Product.ProductCategory.Name</td>
                        <td>@item.Product.Series</td>                      
                    </tr>
                    <input type="hidden" @(count++) />
                }
            </tbody>
        </table>
        <div>
            @if(Model.Displacement.DestinationId == Model.User.BranchId && Model.Displacement.IsAcceppted == false)
            {
                <a asp-action="AcceptDisplacement" asp-route-id="@Model.Displacement.Id" style="margin-right:10px;" class="btn btn-primary">Accept</a>
            }
            <a asp-action="index" class="btn btn-primary"> Go Back</a>
        </div>
    </div>
</div>